<li>
              <div class="cta-card" style="background-image: url('{{ file_url(paragraph.field_cta_image.entity.uri.value) }}')">
                <p class="card-subtitle">{{content.field_cta_title}}</p>

                <h3 class="h2 card-title">{{content.field_cta_description}}</h3>

                <a href="#" class="btn btn-link">
                  <span>Shop Now</span>

                  <i class="fas fa-arrow-right" aria-hidden="true"></i>
                </a>
              </div>
            </li>