<li class="service-item">
              <div class="service-card">

                <div class="card-icon">
                  <img src='{{ file_url(paragraph.field_cta_image.entity.uri.value) }}' width="53" height="28" loading="lazy" alt="Service icon">
                </div>

                <div>
                  <h3 class="h4 card-title">{{content.field_cta_title}}</h3>

                  <p class="card-text">
                    {{content.field_cta_description}}
                  </p>
                </div>

              </div>
            </li>