<li>
              
  <div class="collection-card" style="background-image: url('{{ file_url(paragraph.field_collection_image.entity.uri.value) }}')">


                <h3 class="h4 card-title">{{content.field_collection_title}}</h3>

                <a href="#" class="btn btn-secondary">
                  <span>Explore All</span>

                  <i class="fas fa-arrow-right" aria-hidden="true"></i>
                </a>
              </div>
            </li>